* button {
  margin: 0 auto;
}

.primary {
  padding: 5px;
  background-color: var(--color-medium);
  border-radius: var(--b-block);
  box-shadow: transparent;
  transition: background-color .3s ease-in-out 0s;
  color: var(--color-light);
  font-size: var(--f-s-h2);
  text-transform: uppercase;
  cursor: pointer;


  &:hover {
    background-color: var(--color-medium-active);
    transition: background-color .3s ease-in-out 0s;
  }

  &:focus {
    box-shadow: 0 0 0 1px var(--color-dark-100);
  }
}

.fullWidth {
  width: 100%;
}