:root {
  //light
  --color-light: #eff2f7;

  //medium
  --color-medium: #7269ef;
  --color-medium-active: #06d6a0;

  //dark
  --color-dark-900: #262e35;
  --color-dark-500: #36404a;
  --color-dark-300: #36404a;
  --color-dark-100: #abb4d2;
}