.containerUserHub {
  flex: 1 1 100%;
  max-width: pxToRem(365px);
  min-width: pxToRem(165px);
  background: var(--color-dark-500);
  overflow-y: auto;
  height: 100%;
  @media (max-width: pxToRem($viewportMobile)) {
    min-width: 100%;
    max-width: 100%;
    //height: calc(100vh - 69px);
  }
}