.containerMessages {
  flex: 1 1 82%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-size: var(--f-s-h2);
  @media (max-width: pxToRem($viewportMobile)) {
    height: calc(100vh - 39px);
  }
}