.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  .title{
    padding: 24px;
    font-size: var(--f-s-h1);
    text-transform: capitalize;
  }
  .profile{
    display: flex;
    flex-direction: column;
  }
}

.details{
  display: flex;
  width: 100%;
  padding: 0 24px;
}