.containerMessages {
  flex: 1 1 56%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-size: var(--f-s-h2);
  background-color: var(--color-dark-900);
  @media (max-width: pxToRem($viewportMobile)) {
    //height: calc(100vh - 39px);
    //display: none;
    //visibility: hidden;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-900);
    transition: right .3s ease 0s;
  }
}
