/* reset */
button,
h3 {
  all: unset;
}

.containerAccordion {
  //display: flex;
  //flex-direction: column;
  //width: 100%;
  border-radius: 6px;
}

.blockAccordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  margin: 8px 0;

  &:first-child {
    margin-top: 0;
    border-radius: 6px;
  }

  &:last-child {
    border-radius: 6px;
  }

  .trigger {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-light);
    font-size: var(--f-s-default);
    text-transform: capitalize;
    background-color: var(--color-dark-300);
    cursor: pointer;

    > svg {
      width: 20px;
      height: 20px;
      margin: 0 10px 0 0;

      > path {
        fill: var(--color-light);
      }

      > g > line, > g > path, > g > polyline {
        stroke: var(--color-light);
      }
    }
    .arrow{
      color: var(--color-light);
      transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
  }

  .content {
    overflow: hidden;
    font-size: 15px;
    background-color: var(--color-dark-500);
    border: 1px solid var(--color-dark-300);
  }
}

.trigger[data-state='open'] > .arrow {
  transform: rotate(180deg);
}

.content[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.content[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
