:root {
  //dark
  --color-dark-100: #878a92;
  --color-dark-500: #2e2e2e;
  --color-dark-900: #262626;

  //medium
  --color-medium-500: #4eac6d;
  --color-medium-opacity: #354b3c;

  //light
  --color-light-300: #fff6e0;

  //ERROR
  --color-error-300: red;
}